absl-py==2.4.0
aiodns==3.6.1
aiohappyeyeballs==2.7.0
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
argcomplete==3.6.3
attrs==25.4.0
bcc==0.35.0
bcrypt==4.3.0
Beaker==1.12.1
beautifulsoup4==4.14.3
blivet==3.12.1
Brlapi==0.8.7
Brotli==1.2.0
capstone==5.0.5
certifi==2025.7.9
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.3
click==8.3.3
cmdop==2026.3.18
cockpit @ file:///builddir/build/BUILD/cockpit-362-build/cockpit-362/tmp/wheel/cockpit-362-py3-none-any.whl#sha256=a58100d7b054f1045e44ec3dd522c668a810e37d4f519988ec469b87a17d1e7c
colorama==0.4.6
colored-traceback==0.3.0
contourpy==1.3.3
crypt_r==3.13.1
cryptography==46.0.7
cupshelpers==1.0
cycler==0.12.1
dasbus==1.7
dbus-fast==2.44.3
dbus-python==1.4.0
dbus_next==0.2.3
ddgs==9.14.2
distro==1.9.0
dnf==4.24.0
ecdsa==0.19.2
fastapi==0.135.3
fedora-third-party==0.10
fido2==2.0.0
file-magic==0.4.0
filelock==3.29.0
fonttools==4.62.1
frozenlist==1.8.0
fsspec==2026.4.0
gnome-extensions-cli==0.11.0
greenlet==3.5.3
groq==1.2.0
grpcio==1.80.0
h11==0.16.0
h5py==3.16.0
hf-xet==1.5.0
html2text==2025.4.15
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
humanize==4.13.0
i3ipc==2.2.1
idna==3.10
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
intervaltree==3.1.0
iso639==0.1.4
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.9.0
Jinja2==3.1.6
jiter==0.13.0
keras==3.14.0
keyring==25.7.0
kiwisolver==1.5.0
langtable==0.0.69
libcomps==0.1.23
libdnf==0.75.0
libdnf5==5.2.18.0
linkify-it-py==2.1.0
louis==3.33.0
lxml==6.1.1
Mako==1.2.3
markdown-it-py==4.0.0
markdownify==1.2.2
MarkupSafe==3.0.2
matplotlib==3.10.9
mdit-py-plugins==0.5.0
mdurl==0.1.2
mercurial==7.1.1
meson==1.8.5
ml_dtypes==0.5.4
more-itertools==10.5.0
multidict==6.6.4
mutagen==1.47.0
namex==0.1.0
netaddr==1.3.0
nftables==0.1
numpy==2.4.4
odoo==19.0.post20260223
olefile==0.47
openai==2.30.0
openclaw==2026.3.20
optree==0.19.1
packaging==25.0
paramiko==3.5.1
passlib==1.7.4
Paste==3.10.1
pexpect==4.9.0
pid==3.0.4
pillow==11.3.0
platformdirs==4.9.4
plumbum==1.7.2
ply==3.11
primp==1.2.3
productmd==1.50
propcache==0.4.1
protobuf==7.34.1
proton-core==0.7.4
proton-keyring-linux==0.2.2
proton-vpn-api-core==5.2.5
proton-vpn-daemon==0.13.7
proton-vpn-gtk-app==4.16.5
psutil==7.0.0
ptyprocess==0.7.0
pwntools==4.14.1
pwquality==1.4.5
pyasn1==0.6.2
PyAudio==0.2.13
pycairo==1.28.0
pycares==4.10.0
pycparser==2.22
pycrypto==2.6.1
pycryptodomex==3.23.0
pycups==2.0.4
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pyelftools==0.33
pyenchant==3.2.2
Pygments==2.20.0
PyGObject==3.54.5
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.66-build/pykickstart-3.66
PyNaCl==1.5.0
pyOpenSSL==25.3.0
pyparsing==3.3.2
pyparted==3.13.0
PyPDF2==3.0.1
pyserial==3.5
PySocks==1.7.1
pyte==0.8.2
python-augeas==1.2.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
python-gnupg==0.5.4
python-jose==3.5.0
python-meh==0.52
python-multipart==0.0.32
python-pam==2.0.2
python-pptx==1.0.2
python-stdnum==2.2
python-telegram-bot==22.7
python-xlib==0.33
pytz==2025.2
pyudev==0.24.3
pyusb==1.3.1
pyxdg==0.28
PyYAML==6.0.2
qrcode==8.2
RapidFuzz==3.12.2
regex==2026.2.28
reportlab==4.4.10
requests==2.33.1
requests-file==2.0.0
requests-ftp==0.3.1
rich==14.3.3
rjsmin==1.2.5
ROPGadget==7.6
rpm==6.0.1
rpyc==6.0.1
rsa==4.9.1
schedule==1.2.2
screeninfo==0.8.1
SecretStorage==3.3.3
selinux @ file:///builddir/build/BUILD/libselinux-3.9-build/libselinux-3.9/src
sentry-sdk==2.35.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.9-build/selinux-3.9/python/sepolicy
setools==4.6.0
setproctitle==1.3.7
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.36-build/setroubleshoot-3.3.36/src
setuptools==78.1.1
shtab==1.7.2
simpleaudio==1.0.4
simpleline==1.9.0
six==1.17.0
smolagents==1.24.0
sortedcontainers==2.4.0
sos==4.11.1
soupsieve==2.8
SQLAlchemy==2.0.51
starlette==1.0.0
systemd-python==235
tenacity==9.1.4
textual==8.2.1
tf-keras==2.15.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uc-micro-py==2.0.0
unicorn==2.1.4
unix_ar==0.2.1
urllib3==2.7.0
uvicorn==0.42.0
vobject==0.9.9
waypaper==2.7
wcwidth==0.6.0
websockets==15.0.1
Werkzeug==3.1.6
xkbregistry==0.3
xlrd==2.0.2
xlsxwriter==3.2.9
xlwt==1.3.0
yarl==1.22.0
yt-dlp==2026.3.17
zeep==4.3.2
zipp==3.23.0
zstandard==0.25.0
docxtpl==0.20.2
